/* first footer */
.first-footer {
  font-family: Arial, sans-serif;
  background: #e9e9e9;
  padding: 40px 20px;
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-columns ul {
  list-style: none;
  padding: 0;
}

.footer-columns ul li a {
  color: black;
  text-decoration: none;
}

.footer-columns ul li a:hover {
  text-decoration: underline;
}



/* second footer star */
.second-footer {
  background: linear-gradient(to right, #0f2027, #2c5364);
  color: #ffffff;
  padding: 20px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  padding: 10px 20px;
}

.footer-pera {
  flex: 1;
  min-width: 250px;
  text-align: center;
  margin: 0;
}

.footer-pera p {
  font-size: 14px;
  color: #cccccc;
}

.footer-list {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.footer-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  display: inline-block;
  margin-left: 15px;
}

.footer-list a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-list a:hover {
  text-decoration: underline;
}

