/* ===== Premium Services Section (Same as Image) ===== */
.service {
  background: radial-gradient(circle at top, #f4f0ff 0%, #ffffff 55%, #ffffff 100%);
  padding: 70px 0;
}

/* Heading same */
.about-heading {
  font-size: 40px;
  font-weight: 800;
  color: #1e1b4b;
  font-family: "Poppins", sans-serif;
  position: relative;
  display: inline-block;
}

.about-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 55%;
  height: 4px;
  border-radius: 10px;
  background: #8b5cf6;
}

/* Card premium */
.service-section-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 20px 5px;
  /* border: 1px solid rgba(139, 92, 246, 0.18); */
 /* box-shadow:
  0 18px 45px rgba(139, 92, 246, 0.35),
  0 0 22px rgba(139, 92, 246, 0.45); */

  transition: 0.35s ease;
  text-align: center;
  height: 100%;
  position: relative;
    box-shadow: 
    0 6px 15px rgba(0, 0, 0, 0.30), 
    0 0 0 1px rgba(255, 255, 255, 0.02); 
 
  /* transition: all 0.35s ease;  */
}

/* Hover premium lift */
.service-section-card:hover {
  /* transform: translateY(-7px); */
  border: 3px solid #7c3aed;
  /* box-shadow:
  0 18px 45px rgba(139, 92, 246, 0.35),
  0 0 22px rgba(139, 92, 246, 0.45); */

 
 

}

/* Icon circle */
.service-img-wrapper {
  width: 70px;
  height: 70px;
  margin: 0 auto 18px auto;
  border-radius: 50%;
  background: rgba(139, 92, 246, 0.12);
  display: flex;
  border: 1px solid rgba(139, 92, 246, 0.18); 
  align-items: center;
  justify-content: center;
  overflow: hidden;   /* ✅ circle ke andar hi rahe */
}

/* Icon size */
.service-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Title */
.service-title {
  font-size: 18px;
  font-weight: 700;
  color: #121826;
  margin-bottom: 10px;
}

/* Text */
.service-text {
  font-size: 13.5px;
  color: #6b7280;
  line-height: 1.55;
  margin-bottom: 18px;
  min-height: 55px;
}

/* Read more link like image */
.service-link {
  font-size: 14px;
  font-weight: 600;
  color: #7c3aed;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.service-link::after {
  content: "›";
  font-size: 18px;
  line-height: 1;
  transition: transform 0.2s ease;
}

.service-link:hover {
  color: #5b21b6;
}

.service-link:hover::after {
  transform: translateX(3px);
}

/* Responsive */
@media (max-width: 768px) {
  .about-heading {
    font-size: 32px;
  }

 service-section-card {
    padding: 22px 16px;
  }

  .service-text {
    min-height: auto;
  }
}
